@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(/webfonts/MaterialIcons-Regular.woff2) format("woff2"), url(/webfonts/MaterialIcons-Regular.woff) format("woff"),
    url(/webfonts/MaterialIcons-Regular.ttf) format("truetype");
}

i {
  display: inline-flex;
  flex-direction: row nowrap;
  align-items: center;
  font-size: 3rem !important;
  padding: 8px;
  margin: 7px;
  border: 1px solid gray;
  border-radius: 3px;
}

/* i:hover {
  box-shadow: 0px 0px 1px 1px grey;
} */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.hover:hover {
  font-weight: 1000;
  cursor: pointer;
}


.tiny {
  font-size: 1.5rem;
}

.small {
  font-size: 2rem;
}

.medium {
  font-size: 2.5rem;
} 

.container {
  display: inline;
}

section {
  overflow: hidden;
}